<div class="limiter">
	<div class="container-login100">
		<!--<div class="login100-infinite-loading"></div>-->
		<div class="wrap-login100">
			<form class="login100-form validate-form validate-form-login" action="loginUI" method="post">
					<span class="login100-form-title p-b-26">
						Bienvenue
					</span>
				<span class="login100-form-title p-b-48">
						<img src="./images/logo.jpg" class="img-fluid img-responsive">
					</span>

				<div class="wrap-input100 validate-input" data-validate ="Adresse Email Invalide">
					<input class="input100" type="text" name="email" autocomplete=false>
					<span class="focus-input100" data-placeholder="Email"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Mot de Passe Obligatoire">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
					<input class="input100" type="password" name="password" autocomplete=false>
					<span class="focus-input100" data-placeholder="Password"></span>
				</div>
				<input type="hidden" name="requestUI" value="true">
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							Connexion
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
