<div class="limiter">
	<div class="container-login100">
		<!--<div class="login100-infinite-loading"></div>-->
		<div class="wrap-login100">
			<form class="login100-form validate-form validate-form-register" method="post" action="register">
					<span class="login100-form-title p-b-26">
						Bienvenue
					</span>
				<span class="login100-form-title p-b-48">
						<img src="./images/logo.jpg" class="img-fluid img-responsive">
					</span>

				<div class="wrap-input100 validate-input" data-validate = "Adresse Email Invalide">
					<input class="input100" type="text" name="email" autocomplete="false">
					<span class="focus-input100" data-placeholder="Email"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Nom Invalide">
					<input class="input100" type="text" name="name">
					<span class="focus-input100" data-placeholder="Name"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Nom Invalide">
					<input class="input100" type="text" name="matricule">
					<span class="focus-input100" data-placeholder="Matricule"></span>
				</div>

				<div class="wrap-input100 validate-input password" data-validate="Mot de Passe Obligatoire">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
					<input class="input100" type="password" name="password" id="password" autocomplete="false">
					<span class="focus-input100" data-placeholder="Password"></span>
				</div>
				<div class="wrap-input100 validate-input confirmPassword" data-validate="Confirmation Obligatoire">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
					<input class="input100" type="password" name="confirmPass" id="confirmPassword" autocomplete="false">
					<span class="focus-input100" data-placeholder="Confirm Password"></span>
				</div>
				<div class="d-flex justify-content-between">
					<span class="text-muted text-orange"> Etudiant </span>
					<input type="checkbox" class="js-switch" id="js-switch" checked />
					<span class="text-orange"> Enseignant </span>
				</div>
				<input type="hidden" id="userType" value="1">
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn" type="submit">
							Inscription
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
